@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

/* header styles */
.header {
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-items: center;
}

.header__wellcome-text {
  grid-column: 1/2;
  font-size: 1rem;
  font-weight: bold;
}
.header__search {
  grid-column: 2/3;
  display: flex;
  width: 100%;
  max-width: 900px;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #ebe9e9;
  border-radius: 1.5rem;
  padding: 0.8rem 1rem;
}
.header__action-btns {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.header__search-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 0.5rem;
}
.header__search-item:not(:last-child) {
  padding-right: 1rem;
  border-right: 1px solid var(--text-400);
}

.search__icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
}

.search__icon.location {
  color: var(--rose-500);
}
.search__input {
  padding: 0.7rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: var(--text-100);
}

.search__icon.date {
  color: var(--primary-700);
}
.search__date-dropDown {
  font-size: 1rem;
}
.date-dropDown {
  position: absolute;
  top: 50px;
  left: -3rem;
  z-index: 1002;
}

.search__options-dropDown {
  font-size: 1rem;
}
.options-dropDown {
  background-color: #fff;
  box-shadow: 0 0 10px #efefef;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid var(--text-300);
  position: absolute;
  top: 2rem;
  width: 230px;
  z-index: 1000;
}
.option-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.option-item:not(:last-child) {
  margin-bottom: 1rem;
}
.option__text {
  display: inline-block;
  flex: 1;
  font-size: 0.9rem;
}
.option__counter {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.option__counter__btn {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--text-600);
  background-color: var(--text-100);
}

.search__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-600);
  color: #fff;
  padding: 0.5rem;
  border-radius: 1rem;
}

.header__action-btn span {
  font-size: 1rem;
}
.header__icon {
  width: 1.5rem;
  height: 1.5rem;
}
.header__icon.logout {
  color: #fb7185;
  margin-left: 0.2rem;
}
.header__icon.login {
  color: var(--lime-300);
  margin-left: 0.2rem;
}

.menu-links {
  background-color: #fff;
  box-shadow: 0 0 10px #efefef;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid var(--text-300);
  position: absolute;
  top: 5rem;
  right: 3rem;
  width: 200px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}
.menu__link {
  border-bottom: 1px solid var(--text-300);
}
.menu__link:not(:last-child) {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
  .search__input,
  .search__date-dropDown,
  .search__options-dropDown {
    font-size: 0.8rem;
  }

  .search__icon,
  .header__icon {
    width: 1.3rem;
    height: 1.3rem;
  }
}

@media screen and (max-width: 770px) {
  .header__wellcome-text {
    justify-self: start;
  }
  .header__search {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .header__action-btns {
    grid-column: 2/3;
    justify-self: end;
  }
  .menu-links {
    top: 4rem;
    right: 1rem;
  }
  .date-dropDown {
    left: -5rem;
  }
}

@media screen and (max-width: 670px) {
  .header__search {
    flex-direction: column;
  }
  .header__search-item {
    width: 100%;
    padding: 0.8rem 0rem;
    align-items: center;
    justify-content: center;
  }
  .header__search-item:not(:last-child) {
    border-right: 0px;
    padding-right: 0rem;
    border-bottom: 1px solid #9e9e9e;
  }
  .search__btn {
    width: 100%;
  }
  .date-dropDown {
    left: 1rem;
  }
}

/*  location list styles */
.nearby-locations {
  max-width: 1280px;
  margin: 2rem auto;
}

.locations__heading {
  margin-bottom: 1rem;
}
.locations__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.locations-item__image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.locations-item__desc > :not(:last-child) {
  margin-bottom: 0.2rem;
}
.locations-item__desc .name {
  color: var(--text-500);
}
.locations-item__desc .location {
  font-weight: 700;
}
.locations-item__desc .price {
  font-weight: 700;
  display: flex;
  align-items: center;
}
.locations-item__desc .price span {
  color: var(--text-500);
  font-weight: 400;
}

/* room detail styles */
.room {
  max-width: 1280px;
}

.roomDetail {
  display: flex;
  gap: 1.5rem;
}

.roomDetail img {
  width: 35%;
  height: auto;
  object-fit: cover;
  border-radius: 0.8rem;
}

.roomInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.roomInfo .name {
  font-size: 1.1rem;
}
.roomInfo .review {
  color: var(--text-700);
}
.roomInfo .type {
  color: var(--text-700);
}
.roomInfo .price {
  color: var(--text-700);
}
.roomInfo .update {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  color: var(--text-400);
}

/* map styles */
.map-container {
  flex: 1;
  background-color: var(--text-100);
  position: relative;
}
.map-container button.get-location {
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: var(--primary-600);
  box-shadow: 0 0 10px var(--primary-600);
  color: #fff;
  z-index: 1000;
}
.map {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .map {
    height: 250px;
  }
}

/* search list styles */

.searchList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.searchItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--text-300);
  border-radius: 1rem;
  padding: 0.2rem;
}

.searchItem.currentHotel {
  border: 1px solid var(--primary-600);
  border-radius: 1rem;
  padding: 0.2rem;
}

.searchItem img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 1rem;
}

.searchItem .searchItemDesc p {
  margin-bottom: 0.5rem;
}
.searchItem .searchItemDesc .name {
  color: var(--text-400);
}
.searchItem .searchItemDesc .location {
  font-weight: 500;
}
.searchItem .searchItemDesc .price {
  font-weight: 500;
  display: flex;
  align-items: center;
}
.searchItem .searchItemDesc .price span {
  color: var(--text-400);
  font-weight: 400;
}

/* layout styles */
.hotel-layout,
.bookmark-layout {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 1.5rem;
  margin-top: 1rem;
  height: calc(100vh - 130px);
}

.sidebar {
  width: 50%;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .hotel-layout,
  .bookmark-layout {
    flex-direction: column-reverse;
    height: auto;
  }

  .sidebar {
    width: 100%;
    overflow-y: visible;
  }
}

/* bookmark page style */

.bookmarkList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.bookmarkList .bookmarkItem {
  border: 1px solid var(--text-400);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookmarkList .bookmarkItem.current-bookmark {
  border: 2px solid var(--primary-600);
  background-color: var(--text-100);
}

.bookmarkList .bookmarkItem .trash {
  color: var(--rose-500);
  width: 1.1rem;
  height: 1.1rem;
}

/* form style */

.addNewBookmark h2 {
  margin-bottom: 1rem;
}

.form .formControl {
  margin-bottom: 1rem;
  position: relative;
}

.formControl label {
  display: block;
  margin-bottom: 0.2rem;
}
.formControl input {
  border: 1px solid var(--text-400);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
}
.formControl .flag {
  position: absolute;
  right: 1rem;
  top: 55%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* login form styles */

.loginContainer {
  margin: 5rem auto;
  max-width: 25rem;
  border: 1px solid var(--text-300);
  padding: 1rem;
  border-radius: 1rem;
}

.loginContainer h2 {
  margin-bottom: 1rem;
}

.loginContainer button {
  width: 100%;
}
